body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	text-align: center;
	font-family: "Roboto", sans-serif;
	justify-content: center;
	padding: 80px 50px 50px 50px;
	color:#FAFAFA;
    font-variant-caps: all-small-caps;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container {
    display: grid;
    grid-template-columns: [first] 15% [line2] 35% [line3] 35% [four] 15% [end];
    grid-template-rows: 4;
}

.first {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    width: 100%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.8;
	padding: 10px;
}

.second {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    
}

.second img {
    max-width: 80%;
    object-fit:contain; 
	padding: 15px;
	border-radius: 50%;
	border: 2px dashed rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
}

.third {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    margin: auto;
}

.icons {
	margin: 30px 0 30px 0;
}
.icons a {
	color: #FAFAFA;
}

i {
	font-size: 50px;
	margin: 10px;
}
i:hover {
	color: #EFDF00;
}
 

/* SUPERPOWERS */

.cont-sp {
    display: grid;
    grid-template-columns: 15% 10% 50% 10% 15%;

}

.cont-sp > div {
    margin-bottom: 10px;
}

/* title */
.superpowers {
    grid-column: 3;
    grid-row: 1;
    margin: auto;

    width: 100%;
	margin-bottom: 30px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	padding: 10px 0 10px 0;
}

/* html */

.htitle{
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}


.hprogress{
    grid-column: 3;
    grid-row:2;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.hvalue{
    grid-column: 4;
    grid-row:2;
    text-align: left;
    padding-left: 10px;
}

/* css */

.ctitle{
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.cprogress{
    grid-column: 3;
    grid-row: 3;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.cvalue{
    grid-column: 4;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

/* php */

.ptitle{
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.pprogress{
    grid-column: 3;
    grid-row: 4;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.pvalue{
    grid-column: 4;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}

/* javascript */

.jtitle{
    grid-column: 2;
    grid-row: 5;
    text-align: right;
    padding-right: 10px;
}

.jprogress{
    grid-column: 3;
    grid-row: 5;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.jvalue{
    grid-column: 4;
    grid-row: 5;
    text-align: left;
    padding-left: 10px;
}
/* FORMATIONS */

.cont-form {
    display: grid;
    grid-template-columns: 15% 10% 50% 20% 5%;
    margin-top: 20px;

    
}

.cont-form > div {
    margin-bottom: 10px;
}
.formation {
    grid-column: 3;
    grid-row: 1;
    margin: auto;

    width: 100%;
	margin-bottom: 30px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	padding: 10px 0 10px 0;
}

.year1{
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}

.study1{
    grid-column: 3;
    grid-row: 2;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction1{
    grid-column: 4;
    grid-row: 2;
    text-align: left;
    padding-left: 10px;
}

.year2{
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.study2{
    grid-column: 3;
    grid-row: 3;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction2{
    grid-column: 4;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

.year3{
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.study3{
    grid-column: 3;
    grid-row: 4;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction3{
    grid-column: 4;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}

.year4{
    grid-column: 2;
    grid-row: 5;
    text-align: right;
    padding-right: 10px;
}

.study4{
    grid-column: 3;
    grid-row: 5;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction4{
    grid-column: 4;
    grid-row: 5;
    text-align: left;
    padding-left: 10px;
}

/* EXPERIENCE */

.cont-xp {
    display: grid;
    grid-template-columns: 5% 20% 50% 20% 5%;
    margin: auto;
    grid-template-rows: auto;
    align-items: center;
    margin-top: 20px;
}
.cont-xp > div {
    margin-bottom: 10px;
}
.xp {
    grid-column: 3;
    grid-row: 1;
    margin: auto;

    width: 100%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	padding: 10px 0 10px 0;
}
li {
    list-style: none;
    text-align: center;
}
.position1{
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}

.what1{
    grid-column: 3;
    grid-row: 2;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
    
}

.when1{
    grid-column: 4;
    grid-row: 2;
    text-align: left;
    padding-left: 10px;
}

.position2{
    grid-column: 2;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.what2{
    grid-column: 3;
    grid-row: 3;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when2{
    grid-column: 4;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

.position3{
    grid-column: 2;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.what3{
    grid-column: 3;
    grid-row: 4;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when3{
    grid-column: 4;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}

.position4{
    grid-column: 2;
    grid-row: 5;
    text-align: right;
    padding-right: 10px;
}

.what4{
    grid-column: 3;
    grid-row: 5;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when4{
    grid-column: 4;
    grid-row: 5;
    text-align: left;
    padding-left: 10px;
}

.experiences {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: auto;
    margin-right: auto;
}